<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Infini - Login</title>

        <link rel="stylesheet" href="public/login-style.css">
        <link rel="shortcut icon" href="public/assets/favicon.svg" type="image/x-icon">
    </head>
    <body>
        <img src="public/assets/logo-bright.svg" id="logo" />

        <div id="login">
            <h1>Acesso ao Sistema</h1>
            
            <form action="/app" method="post">
                <div class="input-group">
                    <input type="email" name="email" id="email" placeholder="a" autocomplete="on" autofocus required>
                    <label class="placeholder">E-mail</label>
                </div>

                <div class="input-group">
                    <input type="password" name="password" id="password" placeholder="a" autocomplete="on" required>
                    <label class="placeholder">Senha</label>
                </div>

                <button class="ripple" type="submit">Entrar</button>
            </form>
        </div>

        <script src="public/ripple.js"></script>
    </body>
</html>
