@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    color: #fff;
    font-family: "Montserrat", sans-serif;

    -webkit-user-drag: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
}

input {
    color-scheme: dark;
}

.swal-modal {
    background: #24292b;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.swal-title,
.swal-text {
    color: #fff;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #383e3f;
    border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
    background: #474f51;
}

.entry input {
    padding: 0.5rem 1rem;
    border-radius: 9999px;

    border: 2px solid transparent;
    outline: none;

    transition: border 0.3s;
}

.entry input:focus {
    border: 2px solid #3976d0;
}

.entry label {
    position: absolute;
    cursor: text;
    
    color: #5b6568;
    background: #1c1f21;

    border-radius: 9999px;
    transition: 0.3s;
}

.entry input:focus ~ .entry label {
    margin-top: -0.5rem;
    color: #3976d0;
}

.entry input::placeholder {
    visibility: hidden;
}
